
body { background-color: #FFF4EB; }

.layout__nav {
	margin: 3rem;
	text-align: center;
	font-family: helvetica, sans-serif;
	color: #EB6D1E;
}

.layout__basic-content__box {
	max-width: 80vw;
	margin: 0 3rem;
}