

.map {
	margin: 3rem;
}

.map__button-box {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 2rem 0;
}

.map__button {
	height: 50px;
	width: 350px;
	background-color: #F3A778;
	border-radius: 9px;
	border: 3px solid #EB6D1E;
}
	.map__button:hover {
		cursor: pointer;
		background-color: #EF8A4B;
	}

	.map__button:active { background-color: #EB6D1E; }

	.btn__active { background-color: #EB6D1E; }
	.btn__active:hover { background-color: #EB6D1E; }

/* ==================================== STATES ===== */
	.state-of-interest path { fill: #5F0F40; }
	.state-of-interest:hover path {
		cursor: pointer;
		fill: #0F4C5C;}
	.active-state path { fill: #EB6D1E; }


	/*#oregon path { fill: #5F0F40; }*/
	/*#oregon:hover path {
		cursor: pointer;
		fill: #0F4C5C;
	}
	#oregon:active path { fill: #EB6D1E; }
*/
	/*#california path { fill: #5F0F40; }*/
	/*#california:hover path {
		cursor: pointer;
		fill: #0F4C5C;
	}*/

	/*#montana path { fill: #5F0F40; }*/
	/*#montana:hover path {
		cursor: pointer;
		fill: #0F4C5C;
	}*/

	/*#nebraska path { fill: #5F0F40; }*/
	/*#nebraska:hover path {
		cursor: pointer;
		fill: #0F4C5C;
	}*/

	/*#louisiana path { fill: #5F0F40; }*/
	/*#louisiana:hover path {
		cursor: pointer;
		fill: #0F4C5C;
	}*/

	/*#florida path { fill: #5F0F40; }*/
	/*#florida:hover path {
		cursor: pointer;
		fill: #0F4C5C;
	}*/

/* ==================================== STATE CHANGE ===== */

	




