/* ================================= LOCAL FONTS ======*/
	@font-face {
	  font-family: 'Bison Bold';
	  src:  url('Bison-Bold.woff') format('woff');
	}

h1,h3 {
	font-family: 'Bison Bold', Helvetica, sans-serif;
	text-align: center;
	color: #5F0F40;
}

a { color: #EB6D1E; }
a:hover { color: #0F4C5C; }